{%  extends 'index.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <style>
        body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #7abecc !important;
            justify-content: center;
		}
      
    </style>
</head>
<body>
    <h1>Hello</h1>
    <br>
    <br>
    <h2>Après mon Bac S j'ai suivi un cursus en BTS sio option Slam à l'école EDTA-SORNAS(Paris)
        J'aime me lancer des défis personnels comme réaliser des programmes fonctionnels
        ou créer desz sites web pour m'entrainner et me perfectionner.
        En dehors des cours, je fais du soutient scolaire en mathématiques et sciences physiques
        pour des élèves du collège et lycée,je fais aussi du football en club.
        Aujourdh'ui à l'issue de mon BTS je souhaite suivre un cusrsus bachelor en Big-Data & IA puis continuer
        pour un Bac+4 et Bac+5.</h2>
    
</body>
</html>

{% endblock %}
