

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Quasar42</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css.map' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.css.map' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css.' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css.map' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css.map' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css.map' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/default-skin.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/icomoon.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/meanmenu.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

      <script src="{% static 'js/bootstrap.bundle.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/bootstrap.bundle.js.map' %}" type="text/javascript"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js.map' %}" type="text/javascript"></script>
      <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/bootstrap.js.map' %}" type="text/javascript"></script>
      <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/bootstrap.min.js.map' %}" type="text/javascript"></script>
      <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/jquery.mCustomScrollbar.contact.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/jquery.validate.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/modernizer.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/plugin.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/slider-setting.js' %}" type="text/javascript"></script>


      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->



   </head>
   <!-- body -->
   <body class="main-layout">
     
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'about' %}"><strong>A Propos</strong></a>
                              </li>

                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'reservation' %}"><strong>Reserver</strong></a>
                              </li>

                             
                              </li>

                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'contact' %}"><strong>Contact</strong></a>
                              </li>
                           </ul>

                           {% if user.is_authenticated %}
                           <div class="sign_btn"><a href="{% url 'logout' %}"><strong>Déconnexion</strong></a></div>
                           <div class="sign_btn"><h3><strong>Bienvenue {{user}}</strong></h3></div>
                           {% else %}
                           <div class="sign_btn"><a href="{% url 'login' %}">Connexion</a></div>
                           {% endif %}

                          
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      {% block content %}
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="text-bg">
                     <div class="padding_lert">
                        <h1>Bienvenue au complexe Quasar42 </h1>
                        <span>Venez profitez de nos terrains </span>
                        <p></p>
                        <a href="{% url 'about' %}">En savoir plus</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- form_lebal -->
      
      <!-- end form_lebal -->
      <!-- football  section -->
      <div class="choose">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="choose_box">
                     <div class="titlepage">
                        <h2><span class="text_norlam">Pour les amoureux du</span> <br>Ballon rond</h2>
                     </div>
                     <p>"Un seul sport n'a connu ni arrêts ni reculs : le football. <br> A quoi cela peut-il tenir sinon à la valeur intrinsèque du jeu lui-même, aux émotions qu'il procure, à l'intérêt qu'il présente ?" <br> <strong>Cristiano Ronaldo</strong></p>
                     <a class="read_more" href="{% url 'reservation' %}">Voir</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="img_box">
                           <figure><img src="{% static 'foot_int.jpg' %} " alt="#"/></figure>
                           <p><strong>Foot1</p></strong> 
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="img_box">
                           <figure><img src="{% static 'demiterrain.jpg' %} " alt="#"/></figure>
                           <p><strong>Foot2</strong></p>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="img_box">
                           <figure><img src="{% static 'foottousterrain.jpg' %} " alt="#"/></figure>
                           <p><strong>Foot3</strong></p>
                        </div>
                     </div>

                     </div>         
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end football  section -->
      <!-- basket  section -->
      <div class="choose">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="choose_box">
                     <div class="titlepage">
                        <h2><span class="text_norlam">Pour les amoureux du</span> <br>Parquet</h2>
                     </div>
                     <p>" Le talent gagne les matches, mais le travail d'équipe et l'intelligence gagnent les championnats." <br> <strong>Michael Jordan</strong>  </p>
                     <a class="read_more" href="{% url 'reservation' %}">Voir</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="img_box">
                           <figure><img src="{% static 'terrain de basket.jpg' %} " alt="#"/></figure>
                           <p><strong>Basket1</strong></p>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="img_box">
                           <figure><img src="{% static 'terrain de basket complexe.jpg' %} " alt="#"/></figure>
                           <p><strong>Basket2</strong></p>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="img_box">
                           <figure><img src="{% static 'five.jpg' %} " alt="#"/></figure>
                           <p><strong>Basket3</strong></p>
                        </div>
                     </div>

                     </div>         
                  </div>
               </div>
            </div>
         </div>
      <!-- end basket  section -->
     
      
      <!-- boxe -->
      <div class="choose">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="choose_box">
                     <div class="titlepage">
                        <h2><span class="text_norlam">Pour les amoureux du</span> <br>Ring</h2>
                     </div>
                     <p>"Il y en a qui disent qu'ils aiment la boxe. Ils ne savent pas de quoi ils parlent. La boxe est une histoire de respect, se faire respecter, au dépend de l'autre." <br> <strong>Maëlle Pariez</strong> </p>
                     <a class="read_more" href="{% url 'reservation' %}">Voir</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="img_box">
                           <figure><img src="{% static 'ring1.jpg' %} " alt="#"/></figure>
                           <p><strong>boxe1</strong></p>
                           
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="img_box">
                           <figure><img src="{% static 'ring4.jpg' %} " alt="#"/></figure>
                          <p><strong>boxe2</strong></p>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="img_box">
                           <figure><img src="{% static 'ring3.jpg' %} " alt="#"/></figure>
                           <p><strong>boxe3</strong></p>
                        </div>
                     </div>

                     </div>         
                  </div>
               </div>
            </div>
         </div>
      <!-- end boxe -->
      <!--  footer -->
      <footer id="contact">
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="titlepage">
                        <h2>Vener découvrir notre complexe</h2>
                     </div>
                     <div class="cont">
                        <h3>Un espae accueillant pour sportifs amateurs ou professionnels <br> venez comme vous etes! </h3>
                        
                     </div>
                  </div>

                  <div class="sign_btn"><a href="https://www.bing.com/maps?q=edta+sornas&FORM=HDRSC4"><strong>On y va!</strong> </a></div>
               </div>

              

            </div>
            {% endblock %}
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p><strong>Copyright 2022 All Right Reserved By <a href="http://btssio2022.edta-sornas.com/MouhammadBillyG/portfolio/portfolio.html"> Quasar42</a></strong></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

