

   <div class="container-fluid p-5">
       <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6 p-5 bg-dark text-light text-center">
               <h3 class="">Connexion</h3>
               <a href="{% url 'templates:signup' %}" >Inscription</a>
               <form method="POST">
                   {% csrf_token %}

                   <div class="form-group">
                    <input type="text" name="username" placeholder="Nom d'utilisateur">
                   </div>

                   <div class="form-group">
                    <input type="password" name="password" placeholder="*">
                </div>


                   <button type="submit" class="btn-info"> Connexion</button>
                   {% if messages %}
                   <ul class="pt-2 text-center">
                       {% for msg in messages %}
                       <li style="color: red;">{{msg}}</li>
                       {% endfor %}
                   </ul>
                   {% endif %}
               </form>
           </div>
           <div class="col-md-3"></div>
       </div>
   </div>

